// Monetization not initialized or...
// Content is all gated.
body.monetization-not-initialized:not(.coil-no-gating),
body.coil-extension-not-found.coil-gate-all {

	#main #content .entry-content,
	.site-content #content .entry-content,
	.site-content .entry-content,
	.site-main #content .entry-content,
	.site-main .entry-content,
	.site-content #primary .site-main .entry-content,
	#site-content .post-inner .entry-content {
		display: none;
	}

}

// Coil Browser Extension not found or...
// Coil Payment Pointer ID not found.
// Only content that is set to show for all will show.
body.coil-extension-not-found:not(.coil-gate-all),
body.coil-missing-id:not(.coil-gate-all) {

	#main #content .entry-content,
	.site-content #content .entry-content,
	.site-content .entry-content,
	.site-main #content .entry-content,
	.site-main .entry-content,
	.site-content #primary .site-main .entry-content,
	#site-content .post-inner .entry-content {
		display: inherit;
	}

}

// Admin message should they forget to enter a payment pointer ID.
body.coil-show-admin-notice .monetize-msg {
	background-color: #fa8072;
	padding: 0.5em 0;
}

// Client side message.
.monetize-msg {
	text-align: center;
}