// Monetization not initialized or...
// Content is all gated.
body.coil-extension-not-found.coil-gate-all,
body.monetization-not-initialized.coil-gate-all {

	#main #content .entry-content:not( .coil-post-excerpt ),
	.site-content #content .entry-content:not( .coil-post-excerpt ),
	.site-content .entry-content:not( .coil-post-excerpt ),
	.site-main #content .entry-content:not( .coil-post-excerpt ),
	.site-main .entry-content:not( .coil-post-excerpt ),
	.site-content #primary .site-main .entry-content:not( .coil-post-excerpt ),
	#site-content .post-inner .entry-content:not( .coil-post-excerpt ) {
		display: none;
	}

}


// If the reader is not viewing a single post/page then hide monetized content.
body:not( .single ):not( .page ) {
	.coil-show-monetize-users {
		display: none;
	}
}

// Coil Browser Extension not found or...
// Coil Payment Pointer ID not found.
// Only content that is set to show for all will show.
body.coil-extension-not-found:not( .coil-gate-all ),
body.coil-missing-id:not( .coil-gate-all ) {

	#main #content .entry-content,
	.site-content #content .entry-content,
	.site-content .entry-content,
	.site-main #content .entry-content,
	.site-main .entry-content,
	.site-content #primary .site-main .entry-content,
	#site-content .post-inner .entry-content {
		display: inherit;
	}

}

// Admin message should they forget to enter a payment pointer ID.
body.coil-show-admin-notice .monetize-msg {
	background-color: #fa8072;
	padding: 0.5em 0;
}

// Client side message.
.monetize-msg {
	left: calc( 50% - 50vw );
	max-width: 100vw;
	position: relative;
	text-align: center;
	width: 100vw;
}
