# Folders and Grunt
/build
/releases
/node_modules/
npm-debug.lo
/vendor
/tests/phpunit/cache
/tests/cypress/screenshots
/tests/cypress/videos
/.idea
/tests/ci/wordpress

# Various file types to ignore when exporting.
.DS_Store
Thumbs.db
cghooks.lock

# Build assets
/dist
/assets/css
/assets/js/initialize-monetization.min.js
/assets/js/admin/admin-notices.min.js
