# Folders and Grunt
/build
/releases
/node_modules/
npm-debug.lo
/vendor
/tests/phpunit/cache
/tests/cypress/screenshots
/tests/cypress/videos
/.idea
/tests/ci/wordpress

# Various file types to ignore when exporting.
.DS_Store
Thumbs.db
cghooks.lock

# /assets/css/admin/coil.css
# /assets/css/frontend/coil.css
# /assets/css/messages/coil.css
# /assets/js/initialize-monetization.min.js
# ./assets/js/admin/admin-notices.min.js
# Build assets
*.min.js
*.min.css
*.css
/dist
