body.coil-extension-not-found.coil-gate-all #main #content .entry-content:not(.coil-post-excerpt),
body.coil-extension-not-found.coil-gate-all .site-content #content .entry-content:not(.coil-post-excerpt),
body.coil-extension-not-found.coil-gate-all .site-content .entry-content:not(.coil-post-excerpt),
body.coil-extension-not-found.coil-gate-all .site-main #content .entry-content:not(.coil-post-excerpt),
body.coil-extension-not-found.coil-gate-all .site-main .entry-content:not(.coil-post-excerpt),
body.coil-extension-not-found.coil-gate-all .site-content #primary .site-main .entry-content:not(.coil-post-excerpt),
body.coil-extension-not-found.coil-gate-all #site-content .post-inner .entry-content:not(.coil-post-excerpt),
body.monetization-not-initialized.coil-gate-all #main #content .entry-content:not(.coil-post-excerpt),
body.monetization-not-initialized.coil-gate-all .site-content #content .entry-content:not(.coil-post-excerpt),
body.monetization-not-initialized.coil-gate-all .site-content .entry-content:not(.coil-post-excerpt),
body.monetization-not-initialized.coil-gate-all .site-main #content .entry-content:not(.coil-post-excerpt),
body.monetization-not-initialized.coil-gate-all .site-main .entry-content:not(.coil-post-excerpt),
body.monetization-not-initialized.coil-gate-all .site-content #primary .site-main .entry-content:not(.coil-post-excerpt),
body.monetization-not-initialized.coil-gate-all #site-content .post-inner .entry-content:not(.coil-post-excerpt) {
  display: none; }

body:not(.single):not(.page) .coil-show-monetize-users {
  display: none; }

body.coil-extension-not-found:not(.coil-gate-all) #main #content .entry-content,
body.coil-extension-not-found:not(.coil-gate-all) .site-content #content .entry-content,
body.coil-extension-not-found:not(.coil-gate-all) .site-content .entry-content,
body.coil-extension-not-found:not(.coil-gate-all) .site-main #content .entry-content,
body.coil-extension-not-found:not(.coil-gate-all) .site-main .entry-content,
body.coil-extension-not-found:not(.coil-gate-all) .site-content #primary .site-main .entry-content,
body.coil-extension-not-found:not(.coil-gate-all) #site-content .post-inner .entry-content,
body.coil-missing-id:not(.coil-gate-all) #main #content .entry-content,
body.coil-missing-id:not(.coil-gate-all) .site-content #content .entry-content,
body.coil-missing-id:not(.coil-gate-all) .site-content .entry-content,
body.coil-missing-id:not(.coil-gate-all) .site-main #content .entry-content,
body.coil-missing-id:not(.coil-gate-all) .site-main .entry-content,
body.coil-missing-id:not(.coil-gate-all) .site-content #primary .site-main .entry-content,
body.coil-missing-id:not(.coil-gate-all) #site-content .post-inner .entry-content {
  display: inherit; }

body.coil-show-admin-notice .monetize-msg {
  background-color: #fa8072;
  padding: 0.5em 0; }

.monetize-msg {
  left: calc( 50% - 50vw);
  max-width: 100vw;
  position: relative;
  text-align: center;
  width: 100vw; }
