body.monetization-not-initialized .site-content .content-area .entry-content,
body.coil-gate-all .site-content .content-area .entry-content {
  display: none; }

body.coil-extension-not-found:not(.coil-gate-all) .site-content .content-area .entry-content,
body.coil-missing-id:not(.coil-gate-all) .site-content .content-area .entry-content {
  display: inherit; }

body.coil-show-admin-notice .monetize-msg {
  background-color: #fa8072;
  padding: 0.5em 0; }

.monetize-msg {
  text-align: center; }
