// Messages
@import '../variables';
@import 'fonts';

body.coil-exclusive.coil-extension-not-found.show-fw-message,
body.coil-missing-id.coil-extension-not-found.show-fw-message,
body.monetization-not-initialized.coil-exclusive.show-fw-message,
body.coil-exclusive.coil-extension-not-found.show-excerpt-message,
body.monetization-not-initialized.coil-exclusive.show-excerpt-message,
body.monetization-not-initialized.coil-missing-id.show-fw-message {

	.coil-message-container {
		color: $message_font_colour;
		display: block !important;
		font-family: 'Open Sans', sans-serif;
		text-align: center;

		.coil-message-inner {
			background: $message_background_colour;
			border: 1px solid $message_border_colour;
			border-radius: $message_border_radius;
			padding: $message_spacing_baseline * 4;
		}

		a.custom-logo-link {
			display: block;
		}

		img {
			display: block;
			margin: 0 auto $message_spacing_baseline * 2;
			max-width: 91px;
			text-align: center;

			@media only screen and (min-width: $message_mobile_breakpoint) {
				margin-bottom: $message_spacing_baseline * 4;
			}
		}

		.coil-message-header {

			@media only screen and (min-width: $message_desktop_breakpoint) {
				margin: 0 0 $message_spacing_baseline * 2;
			}

			.coil-message-title {
				font-size: 18px;
				font-weight: 700;
				line-height: 28px;
				margin: 0 0 $message_spacing_baseline * 3;
				@media only screen and (min-width: 768px) {
					font-size: 28px;
					line-height: 38px;
				}
			}

			.coil-message-content {
				font-size: $message_spacing_baseline * 2;
				line-height: 27px;
				margin: 0;
				margin-bottom: $message_spacing_baseline * 3;
				@media only screen and (min-width: $message_desktop_breakpoint) {
					margin-bottom: 40px;
				}
			}

			a.coil-message-button {
				background-color: $message_font_colour;
				border-radius: 6px;
				color: $white;
				display: inline-block;
				font-size: $message_spacing_baseline * 2;
				font-weight: 600;
				line-height: $message_spacing_baseline * 3;
				margin-bottom: $message_spacing_baseline * 3;
				max-width: 232px;
				padding: 13px $message_spacing_baseline * 2;
				text-align: center;
				text-decoration: none;

				&:hover {
					background-color: $message_content_conceal_colour;
				}

				@media only screen and (min-width: $message_desktop_breakpoint) {
					margin-bottom: 0;
				}
			}
		}
	}

	// Changes to implement dark theme
	.coil-message-container.coil-dark-theme {

		.coil-message-inner {
			background: $black-000;
			color: $message_background_colour;
			opacity: 0.9;
		}

		.coil-message-header {
			a.coil-message-button {
				background-color: $message_background_colour;
				color: $message_font_colour;

				&:hover {
					background-color: $message_content_conceal_colour_dark_theme;
				}
			}
		}
	}

	// Changes to implement theme font selection
	.coil-message-container.coil-inherit-theme-font {

		font-family: inherit;
	}

}

// Scenario 2
body.monetization-not-initialized.coil-exclusive.show-excerpt-message,
body.coil-exclusive.coil-extension-not-found.show-excerpt-message {

	.coil-message-container {
		display: block !important;
		.coil-message-inner {
			margin-top: -20px;
			position: relative;
			&::before {
				content: '';
				height: 150px;
				left: 0;
				position: absolute;
				top: -150px;
				width: 100%;
			}
		}
	}
}

body.coil-hide-excerpt.show-fw-message .entry-content {
	display: none;
}

// Split content
.coil-show-monetize-users span.coil-split-content-message {
	align-items: center;
	background: $white;
	border: 1px solid $message_border_colour;
	border-radius: $message_border_radius;
	bottom: 0;
	color: $grey;
	display: flex;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	justify-content: center;
	left: 0;
	line-height: 22px;
	margin: 0;
	padding: 50px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 110;

	@media only screen and (min-width: $message_mobile_breakpoint) {
		font-size: 18px;
		line-height: 27px;
		padding: 50px;
	}
}

// Scenario 3 - Coil button
.coil-button-message-container {
	// Hide the Coil button on mobile
	@media only screen and (max-width: $message_mobile_breakpoint) {
		display: none;
	}

	display: flex;
	position: fixed;
	width: 100%;
	z-index: 200;

	.coil-button {
		background-color: $coil_button_message_color;
		border-radius: 6px;
		box-shadow: 0 6px 10px 0 $coil_button_message_shadow_color;
		font-family: 'Open Sans', sans-serif;
		font-size: 17px;
		font-weight: 600;
		line-height: 20px;
		overflow: visible;
		position: relative;
		text-align: center;

		a {
			border-radius: 6px;
			display: flex;
			flex-direction: row;
			padding: $message_spacing_baseline;
			text-decoration: none;
			div {
				color: $coil_button_font_color;
				margin: auto;
				padding-left: $message_spacing_baseline;
				padding-right: $message_spacing_baseline;
			}

			img {
				height: 24px;
				width: 24px;
			}
		}

		@media only screen and (min-width: $message_mobile_breakpoint) {
			justify-content: space-around;
			max-width: 434px;
		}

		.coil-button-dismiss {
			background-color: $coil_button_message_dismiss_color;
			border-radius: 100%;
			color: $coil_dismiss_font_color;
			cursor: pointer;
			display: none;
			font-size: 20px;
			font-weight: 700;
			height: 20px;
			line-height: 20px;
			position: absolute;
			right: -7px;
			top: -7px;
			width: 20px;
	
			&:hover {
				background-color: $coil_dismiss_hover_color;
			}
		}
	}
}

.coil-button-message-container.bottom {
	bottom: 0;
	margin-bottom: 20px;
}

.coil-button-message-container.top {
	margin-top: 20px;
	top: 0;
}

.coil-button-message-container.right {
	justify-content: right;
}

.coil-button-message-container.left {
	justify-content: left;
}

// Changes Coil button to implement light theme
.coil-button-message-container.coil-light-theme {
	.coil-button {
		background-color: $coil_button_message_color_light_theme;

		a {
			div {
				color: $coil_button_font_color_light_theme;
			}
		}
	}
}

// Implement hover effect
body:not( .monetization-initialized ) .coil-button-message-container .coil-button {
	&:hover {
		background-color: $coil_button_message_hover_color;
	}
}

// Implement hover effect for the light theme
body:not( .monetization-initialized ) .coil-button-message-container.coil-light-theme .coil-button {
	&:hover {
		background-color: $coil_button_message_hover_color_light_theme;
	}
}

// Changes Coil button to implement the small size
.coil-button-message-container.coil-button-small {
	.coil-button {
		font-size: 14px;
		line-height: 17px;
	
		a {
	
			img {
				height: 16px;
				width: 16px;
			}
		}
	
		.coil-button-dismiss {
			font-size: 14px;
			height: 14px;
			line-height: 14px;
			right: -5px;
			top: -5px;
			width: 14px;
		}
	}
}

a.coil-serverside-message-button {
	background-color: $message_font_colour;
	border-radius: 6px;
	color: $white;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: $message_spacing_baseline * 2;
	font-weight: 600;
	line-height: $message_spacing_baseline * 3;
	margin-bottom: $message_spacing_baseline * 3;
	max-width: 232px;
	padding: 13px $message_spacing_baseline * 2;
	text-align: center;
	text-decoration: none;

	&:hover {
		background-color: $message_content_conceal_colour;
	}

	@media only screen and (min-width: $message_desktop_breakpoint) {
		margin-bottom: 0;
	}
}
