// Messages
@import '../variables';
@import 'fonts';

body.coil-gate-all.coil-extension-not-found.show-fw-message,
body.coil-missing-id.coil-extension-not-found.show-fw-message,
body.monetization-not-initialized.coil-gate-all.show-fw-message,
body.coil-gate-all.coil-extension-not-found.show-excerpt-message,
body.monetization-not-initialized.coil-gate-all.show-excerpt-message,
body.monetization-not-initialized.coil-missing-id.show-fw-message {

	.coil-message-container {
		color: $message_font_colour;
		display: block !important;
		font-family: 'Open Sans', sans-serif;
		text-align: center;

		.coil-message-inner {
			background: $message_background_colour;
			border: 1px solid $message_border_colour;
			border-radius: $message_border_radius;
			padding: $message_spacing_baseline * 3;
		}

		a.custom-logo-link {
			display: block;
		}

		img {
			display: block;
			margin: 0 auto $message_spacing_baseline * 2;
			max-width: 91px;
			text-align: center;

			@media only screen and (min-width: $message_mobile_breakpoint) {
				margin-bottom: $message_spacing_baseline * 4;
			}
		}

		.coil-message-header {

			@media only screen and (min-width: $message_desktop_breakpoint) {
				margin: 0 0 $message_spacing_baseline * 2;
			}

			.coil-message-title {
				font-size: 18px;
				font-weight: 700;
				line-height: 28px;
				margin: 0 0 $message_spacing_baseline * 3;
				@media only screen and (min-width: 768px) {
					font-size: 28px;
					line-height: 38px;
				}
			}

			.coil-message-content {
				font-size: $message_spacing_baseline * 2;
				line-height: 27px;
				margin: 0;
				margin-bottom: $message_spacing_baseline * 3;
				@media only screen and (min-width: $message_desktop_breakpoint) {
					margin-bottom: 40px;
				}
			}

			a.coil-message-button {
				background-color: $message_font_colour;
				border-radius: 6px;
				color: $white;
				display: inline-block;
				font-size: $message_spacing_baseline * 2;
				font-weight: 600;
				line-height: $message_spacing_baseline * 3;
				margin-bottom: $message_spacing_baseline * 3;
				max-width: 232px;
				padding: 13px $message_spacing_baseline * 2;
				text-align: center;
				text-decoration: none;

				&:hover {
					background-color: $message_content_conceal_colour;
				}

				@media only screen and (min-width: $message_desktop_breakpoint) {
					margin-bottom: 0;
				}
			}
		}

		.coil-message-footer {
			border-top: 1px solid $message_border_colour;
			padding-top: $message_spacing_baseline * 2;

			@media only screen and (min-width: $message_desktop_breakpoint) {
				padding-top: $message_spacing_baseline * 4;
			}

			.coil-footer-content {
				font-size: 12px;
				line-height: 17px;
				margin: 0 auto;
				max-width: 720px;

				@media only screen and (min-width: $message_desktop_breakpoint) {
					font-size: 14px;
					line-height: 22px;
				}
			}
		}
	}
	
	// Changes to implement dark theme
	.coil-message-container.coil-dark-theme {

		.coil-message-inner {
			background: $black;
			color: $message_background_colour;
			opacity: 0.9;
		}

		.coil-message-header {
			a.coil-message-button {
				background-color: $message_background_colour;
				color: $message_font_colour;

				&:hover {
					background-color: $message_content_conceal_colour_dark_theme;
				}
			}
		}
	}

	// Changes to implement theme font selection
	.coil-message-container.coil-inherit-theme-font {

		font-family: inherit;
	}

}

// Scenario 2
body.monetization-not-initialized.coil-gate-all.show-excerpt-message,
body.coil-gate-all.coil-extension-not-found.show-excerpt-message {

	.coil-message-container {
		display: block !important;
		.coil-message-inner {
			margin-top: -20px;
			position: relative;
			&::before {
				content: '';
				height: 150px;
				left: 0;
				position: absolute;
				top: -150px;
				width: 100%;
			}
		}
	}
}

body.coil-hide-excerpt.show-fw-message .entry-content {
	display: none;
}

// Split content
.coil-show-monetize-users span.coil-split-content-message {
	align-items: center;
	background: $white;
	border: 1px solid $message_border_colour;
	border-radius: $message_border_radius;
	bottom: 0;
	color: $grey;
	display: flex;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	justify-content: center;
	left: 0;
	line-height: 22px;
	margin: 0;
	padding: 50px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 110;

	@media only screen and (min-width: $message_mobile_breakpoint) {
		font-size: 18px;
		line-height: 27px;
		padding: 50px;
	}
}

// Scenario 3 - Banner message
.coil-banner-message-container {
	bottom: 0;
	color: rgba(0, 0, 0, 0.7);
	position: fixed;
	width: 100%;
	z-index: 200;
	@media only screen and (min-width: $message_mobile_breakpoint) {
		display: flex;
		justify-content: center;
	}

	.banner-message-inner {
		background-color: $white;
		border: 1px solid $message_banner_border_colour;
		box-shadow: 0 6px 10px 0 $message_banner_shadow_colour;

		font-family: 'Open Sans', sans-serif;
		padding: 23px $message_spacing_baseline * 2 $message_spacing_baseline * 2;
		position: relative;

		@media only screen and (min-width: $message_mobile_breakpoint) {
			align-items: center;
			background-color: $message_banner_background_colour;
			border-radius: 6px;
			display: flex;
			justify-content: space-around;
			margin-bottom: 20px;
			padding: 12px $message_spacing_baseline * 4;
		}
	}

	.coil-banner-message-content {
		font-size: 12px;
		line-height: 17px;
		margin: 22px 0 5px;

		@media only screen and (min-width: $message_mobile_breakpoint) {
			font-size: 14px;
			line-height: 20px;
			margin: 0;
			max-width: 434px;
		}
	}

	.coil-banner-message-button {
		background-color: $message_banner_button_colour;
		border-radius: 6px;
		color: $white;
		font-size: 14px;
		font-weight: 600;
		line-height: 20px;
		margin: 0;
		padding: $message_spacing_baseline $message_spacing_baseline * 3;
		text-align: center;
		text-decoration: none;

		&:hover {
			background-color: $message_banner_button_hover_colour;
		}

		@media only screen and (min-width: $message_mobile_breakpoint) {
			margin: 0 $message_spacing_baseline * 4 0 67px;
		}
	}

	.coil-banner-message-dismiss {
		color: $message_banner_dismiss_colour;
		cursor: pointer;
		font-size: 26px;
		font-weight: 700;
		line-height: 1.1;
		position: absolute;
		right: 12px;
		top: 10px;
		@media only screen and (min-width: $message_mobile_breakpoint) {
			font-size: 35px;
			position: relative;
			right: auto;
			top: auto;
		}
	}
}

a.coil-serverside-message-button {
	background-color: $message_font_colour;
	border-radius: 6px;
	color: $white;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: $message_spacing_baseline * 2;
	font-weight: 600;
	line-height: $message_spacing_baseline * 3;
	margin-bottom: $message_spacing_baseline * 3;
	max-width: 232px;
	padding: 13px $message_spacing_baseline * 2;
	text-align: center;
	text-decoration: none;

	&:hover {
		background-color: $message_content_conceal_colour;
	}

	@media only screen and (min-width: $message_desktop_breakpoint) {
		margin-bottom: 0;
	}
}
