// Misc
$shadow: rgba( 0, 0, 0, 0.04 );

// Colors
$white: #fff;

$black: rgb( 41, 41, 41 );
$black-000: #000;

$grey: #555d66;
$lightgrey: #e5e5e5;

$red: #c92c2c;
$lightred: #f0a3a3;
$darkred: #a00;

$green: #4ab866;
$lightgreen: #eff9f1;
$darkgreen: #337f46;

$blue: #008aff;

$yellow: #f1e865;

$orange: #f36d0a;
$lightorange: #f1a165;

$message_spacing_baseline: 8px;
$message_background_colour: #fff;
$message_border_radius: 6px;
$message_content_conceal_colour: rgba( 69, 69, 69, 0.9 );
$message_font_colour: #2c333a;
$message_border_colour: #d9d9d9;
$message_mobile_breakpoint: 768px;
$message_desktop_breakpoint: 1168px;

// Dark Theme
$message_content_conceal_colour_dark_theme: #ccc;
$message_border_colour_dark_theme: rgb(79, 79, 79);

// Coil button
$coil_button_message_color: #2d333a;
$coil_button_font_color: #fff;
$coil_dismiss_font_color: #fff;
$coil_button_message_hover_color: #444;
$coil_dismiss_hover_color: #c92c2c;
$coil_button_message_dismiss_color: #777;
$coil_button_message_shadow_color: rgba( 194, 194, 194, 0.1 );

// Light Theme
$coil_button_message_color_light_theme: #fff;
$coil_button_font_color_light_theme: #000;
$coil_button_message_hover_color_light_theme: #e3e5e9;
