// Misc
$shadow: rgba( 0, 0, 0, 0.04 );

// Colors
$white: #fff;

$black: rgb( 41, 41, 41 );
$black-000: #000;

$grey: #555d66;
$lightgrey: #e5e5e5;

$red: #c92c2c;
$lightred: #f0a3a3;
$darkred: #a00;

$green: #4ab866;
$lightgreen: #eff9f1;
$darkgreen: #337f46;

$blue: #008aff;

$yellow: #f1e865;

$orange: #f36d0a;
$lightorange: #f1a165;

$message_spacing_baseline: 8px;
$message_background_colour: #fff;
$message_border_colour: #e8e8e8;
$message_border_radius: 6px;
$message_content_conceal_colour: rgba( 69, 69, 69, 0.9 );
$message_content_conceal_colour_dark_theme: #ccc;
$message_font_colour: #2c333a;
$message_border_colour: #c4c4c4;
$message_mobile_breakpoint: 768px;
$message_desktop_breakpoint: 1168px;

$message_banner_background_colour: rgba( 255, 255, 255, 0.8 );
$message_banner_button_colour: #2c333a;
$message_banner_button_hover_colour: #494949;
$message_banner_dismiss_colour: #777;
$message_banner_border_colour: #e3e3e3;
$message_banner_shadow_colour: rgba( 194, 194, 194, 0.1 );

