.coil .container {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0 2px 30px rgba(0, 0, 0, 0.04);
  color: #292929;
  margin: 20px auto 80px;
  max-width: 692px;
  text-align: left;
  width: calc(100% - 20px); }
  .coil .container .content {
    padding: 40px; }
    .coil .container .content .logo {
      text-align: center; }
    .coil .container .content h1 {
      color: #23282d;
      font-size: 1.7em;
      font-weight: 700;
      line-height: 1.48;
      margin-bottom: 28px;
      margin-top: 0; }
    .coil .container .content p {
      color: #333;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.6;
      margin-bottom: 20px; }
    .coil .container .content p.submit {
      margin-bottom: 0; }
    .coil .container .content ul {
      list-style: disc; }
    .coil .container .content li {
      margin-left: 12px; }
    .coil .container .content input.wide-input {
      margin-top: 0.4em;
      width: 100%; }
    .coil .container .content a.button.button-hero,
    .coil .container .content input[type='submit'].button-hero,
    .coil .container .content button.button-hero {
      font-size: 20px; }

.coil .plugin-branding {
  box-sizing: border-box;
  font-size: 30px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  width: calc(100% + 42px);
  margin-left: -22px;
  margin-top: -10px;
  margin-bottom: -10px; }

.coil #coil-icn-32 {
  margin-right: 12px; }

.coil .coil-welcome-notice,
.coil .coil-no-payment-pointer-notice {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-left-width: 1px;
  padding: 20px; }

.coil .coil-welcome-notice__icon,
.coil .coil-no-payment-pointer-notice__icon {
  flex: 0 0 auto;
  margin-right: 20px; }

.coil .coil-welcome-notice__content,
.coil .coil-no-payment-pointer-notice__content {
  flex: 1 1 auto; }
  .coil .coil-welcome-notice__content h3,
  .coil .coil-no-payment-pointer-notice__content h3 {
    margin-top: 0;
    margin-bottom: 10px; }
  .coil .coil-welcome-notice__content p,
  .coil .coil-no-payment-pointer-notice__content p {
    margin-bottom: 0; }
