.toplevel_page_coil_settings {
	overflow-x: hidden;
}

.coil {
	&.plugin-header {
		margin-bottom: 20px;
	}

	.container {
		background-color: $white;
		border: 1px solid $lightgrey;
		-webkit-box-shadow: 0 2px 30px $shadow;
		box-shadow: 0 2px 30px $shadow;
		color: $black;
		margin: 20px auto 80px;
		text-align: left;
		width: calc(100% - 20px);

		.content {
			padding: 40px;

			.logo {
				text-align: center;
			}

			h1 {
				color: #23282d;
				font-size: 1.7em;
				font-weight: 700;
				line-height: 1.48;
				margin-bottom: 28px;
				margin-top: 0;
			}

			p {
				color: #333;
				font-size: 16px;
				font-weight: 400;
				line-height: 1.6;
				margin-bottom: 20px;
			}

			p.submit {
				margin-bottom: 0;
			}

			ul {
				list-style: disc;
			}

			li {
				margin-left: 12px;
			}

			input.wide-input {
				margin-top: 0.4em;
				width: 100%;
			}

			a.button.button-hero,
			input[type='submit'].button-hero,
			button.button-hero {
				font-size: 20px;
			}
		}
	}

	.plugin-branding {
		align-items: center;
		display: flex;
		flex-direction: row;
		font-size: 30px;
		font-weight: 400;
		justify-content: flex-start;
		margin-bottom: -10px;
		margin-top: -10px;
		padding: 20px 0;
		width: calc(100% + 42px);
	}

	#coil-icn-32 {
		margin-right: 12px;
	}

	.coil-welcome-notice,
	.coil-no-payment-pointer-notice {
		align-items: center;
		border-left: 4px solid #ee8249;
		border-radius: 3px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		margin-bottom: 20px;
		margin-top: 20px;
		max-width: calc( 820px - 3px );
		padding: 20px;
	}

	.coil-welcome-notice__icon,
	.coil-no-payment-pointer-notice__icon {
		flex: 0 0 auto;
		margin-right: 20px;
	}

	.coil-welcome-notice__content,
	.coil-no-payment-pointer-notice__content {
		flex: 1 1 auto;

		h3 {
			margin-bottom: 10px;
			margin-top: 0;
		}

		p {
			margin-bottom: 0;
		}
	}

	form {
		display: flex;
		flex-direction: row-reverse;
		justify-content: start;

		.settings-main {
			max-width: 790px;
			width: 100%;

			&.has-sidebar {
				max-width: 580px;
				width: 70%;
			}

			.tab-styling {
				background: #fff;
				border: 1px solid #d5d5d5;
				border-radius: 4px;
				margin-bottom: 20px;
				padding: 15px;

				h3 {
					font-size: 17px;
					margin-top: 0;
				}

				h4 {
					font-size: 14px;
					margin: 15px 0 10px;
				}

				#coil_title_padlock:not( :checked ) {
					+ label {
						+ #coil_icon_position_label {
							display: none;
							+ .coil-radio-group {
								display: none;
								+ #coil_icon_style_label {
									display: none;
									+ .coil-radio-group {
										display: none;
									}
								}
							}
						}
					}
				}

				.coil-radio-group {
					align-items: center;
					display: flex;
					flex-direction: row;

					label {
						align-items: center;
						display: flex;
						padding-right: 10px;
					}

					label:first-child {
						margin-left: 0;
					}
				}

				.coil-preview {
					align-items: center;
					background: #f1f1f1;
					border: 1px solid #ccc;
					border-radius: 3px;
					display: flex;
					height: calc( 100% - 80px );
					justify-content: center;
					min-height: 350px;
					padding: 15px;

					.coil-title-preview-container {
						display: flex;
						flex-direction: column;
						width: 156px;

						.coil-title-preview-row {
							align-items: center;
							display: flex;
							flex-direction: row;
							margin-bottom: 4px;

							.coil-padlock-icon {
								display: flex;
							}

							.coil-title-preview-bar {
								background: #c4c4c4;
								border-radius: 3px;

								&.title {
									height: 17px;
									justify-self: flex-end;
									margin-left: 6px;
									width: 100%;
								}

								&.sub-title {
									height: 7px;
									margin-bottom: 8px;
								}

								&.body {
									height: 9px;
								}
							}
						}

						&[data-padlock-icon-position='after'] {
							.coil-title-preview-row {
								&.coil-title-padlock-row {
									flex-direction: row-reverse;
									.coil-title-preview-bar {
										&.title {
											margin-left: 0;
											margin-right: 6px;
										}
									}
								}
							}
						}
					}

					.coil-paywall-container {
						background: #fff;
						border: 1px solid #ccc;
						border-radius: 6px;
						box-sizing: border-box;
						padding: 15px;
						text-align: center;

						&[data-theme='dark'] {
							background: #444;

							h3, p {
								color: #fff;
							}

							a {
								background: #fff;
								color: #444;
							}
						}

						/**
						** TODO: Update this by cleaning it up according to the available fonts etc
						**/
						.coil-paywall-image {
							max-width: 120px;

							&.no_logo {
								display: none;
							}
						}

						.coil-paywall-heading {
							font-size: 24px;
							font-style: normal;
							font-weight: 600;
							line-height: 29px;
							margin-bottom: 0;
							text-align: center;
						}

						.coil-paywall-body {
							color: #32373c;
							font-size: 13px;
							font-style: normal;
							font-weight: 400;
							line-height: 16px;
							text-align: center;
						}

						.coil-paywall-cta {
							background: #000;
							border-radius: 3px;
							color: #fff;
							display: block;
							margin: auto;
							margin-top: 15px;
							padding: 12px;
							width: 164px;
						}
					}
				}
			}
			.exclusive-content {
				display: none;
			}
		}

		.settings-sidebar {
			border-radius: 4px;
			margin-left: 30px;
			max-width: 30%;

			.settings-sidebar-body {
				background: #fff;
				border: 1px solid #d5d5d5;
				border-radius: 3px;

				header {
					border-bottom: 1px solid #dedede;
					margin-bottom: 0;
					padding: 15px;

					svg {
						float: left;
						margin-right: 6px;
						margin-top: -2px;
					}

					h3 {
						font-size: 15px;
						margin: 0;
					}
				}

				section {
					padding: 15px;

					ul {

						list-style: disc;
						margin-left: 20px;
						margin-top: 0;

						a {
							text-decoration: none;
						}
					}
				}

			}
		}
	}

	p {
		max-width: 660px;
	}

	select,
	input[type='text'],
	textarea {

		background: #fff;
		border: 1px solid #d0d0d0;
		box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.08);
		box-sizing: border-box;
		width: 90%;
	}

	input[type='radio'] {
		margin: 0;
		margin-right: 5px;
	}

	textarea {
		min-height: 90px;
	}

	label.coil-clear-left {
		clear: left;
		display: block;
		margin-top: 15px;
	}

	label.coil-checkbox {
		display: block;
		float: right;
		height: 20px;
		margin-left: -35px;
		margin-top: -35px;
		width: 95px;
	}

	label.coil-checkbox input {
		display: none;
	}

	label.coil-checkbox span {
		background: #c1c5cd;
		border-radius: 25px;
		display: block;
		float: right;
		height: 20px;
		position: relative;
		width: 35px;
	}

	label.coil-checkbox input + span::after {
		background: #fff;
		border-radius: 18px;
		content: '';
		display: block;
		height: 16px;
		left: 2px;
		position: absolute;
		top: 2px;
		width: 16px;
	}

	label.coil-checkbox input:checked + span {
		background: #4fa3d5;
	}

	label.coil-checkbox input:checked + span::after {
		left: unset;
		right: 2px;
	}

	label.coil-checkbox input + span + i::before {
		content: 'Disabled';
	}

	label.coil-checkbox input:checked + span + i::before {
		content: 'Enabled';
	}

	@media only screen and (max-width: $message_mobile_breakpoint) {

		&.plugin-header {
			.nav-tab {
				width: calc( 50% - 2.5em);
			}
		}

		&.plugin-settings {
			display: flex;
			flex-direction: column-reverse;
		}

		form,
		.settings-sidebar {
			width: 100%;
		}
	}
}
