.toplevel_page_coil_settings {
	overflow-x: hidden;
}

.coil {

	&.plugin-header {
		margin-bottom: 20px;
	}

	.container {
		background-color: $white;
		border: 1px solid $lightgrey;
		box-shadow: 0 2px 30px $shadow;
		-webkit-box-shadow: 0 2px 30px $shadow;
		color: $black;
		margin: 20px auto 80px;
		max-width: 692px;
		text-align: left;
		width: calc(100% - 20px);

		.content {
			padding: 40px;

			.logo {
				text-align: center;
			}

			h1 {
				color: #23282d;
				font-size: 1.7em;
				font-weight: 700;
				line-height: 1.48;
				margin-bottom: 28px;
				margin-top: 0;
			}

			p {
				color: #333;
				font-size: 16px;
				font-weight: 400;
				line-height: 1.6;
				margin-bottom: 20px;
			}

			p.submit {
				margin-bottom: 0;
			}

			ul {
				list-style: disc;
			}

			li {
				margin-left: 12px;
			}

			input.wide-input {
				margin-top: 0.4em;
				width: 100%;
			}

			a.button.button-hero,
			input[type='submit'].button-hero,
			button.button-hero {
				font-size: 20px;
			}
		}
	}

	.plugin-branding {
		align-items: center;
		display: flex;
		flex-direction: row;
		font-size: 30px;
		justify-content: flex-start;
		margin-bottom: -10px;
		margin-top: -10px;
		padding: 20px 0;
		width: calc(100% + 42px);
	}

	#coil-icn-32 {
		margin-right: 12px;
	}

	.coil-welcome-notice,
	.coil-no-payment-pointer-notice {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 20px;
		border-left-width: 1px; // Core notice style override.
		padding: 20px;
	}

	.coil-welcome-notice__icon,
	.coil-no-payment-pointer-notice__icon {
		flex: 0 0 auto;
		margin-right: 20px;
	}

	.coil-welcome-notice__content,
	.coil-no-payment-pointer-notice__content {
		flex: 1 1 auto;

		h3 {
			margin-top: 0;
			margin-bottom: 10px;
		}

		p {
			margin-bottom: 0;
		}
	}

	form {

		width: 70%;
		float: left;
	}

	.settings-sidebar {

		width: 25%;
		float: right;
		display: block;
		background: #ffffff;
		border: 1px solid #d5d5d5;
		border-radius: 4px;

		header {

			border-bottom: 1px solid #dedede;
			margin-bottom: 0px;
			padding: 15px;

			svg {
				float: left;
				margin-top: -2px;
				margin-right: 6px;
			}

			h3 {
				margin: 0;
			}
		}
		section {

			padding: 15px;

			ul {

				list-style: disc;
				margin-left: 20px;
				margin-top: 0px;

				a {
					text-decoration: none;
				}
			}
		}
	}

	input[type='text'],
	textarea {

		background: #ffffff;
		border: 1px solid #d0d0d0;
		box-sizing: border-box;
		box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.08);
		width: 440px;
	}

	@media only screen and (max-width: $message_mobile_breakpoint) {
		&.plugin-settings {
			display: flex;
			flex-direction: column-reverse;
		}

		form {
			width: 100%;
		}

		.settings-sidebar {
			width: 90%;
		}
	}
}
