.wp-block-coil-read-more {

	margin-top: 30px;

	&::before,
	&::after {
		border-top: 2px dashed #8f949f;
		content: '';
		display: flex;
		position: absolute;
		top: 20px;
		width: calc( ( 100% - 420px ) / 2 );
		z-index: 0;
	}

	&::after {
		right: 0;
	}

	.coil-read-more-inner {
		align-items: center;
		background: #fff;
		border: 1px solid #8f949f;
		border-radius: 8px;
		display: flex;
		height: 42px;
		justify-content: space-between;
		margin: auto;
		max-width: 400px;
		padding: 12px 8px;
		text-align: center;
		width: 100%;
		z-index: 1;

		p {
			font-size: 14px;
			font-weight: 500;
		}
	}
}
