.wp-block-coil-exclusive-content-divider {

	margin-top: 30px;

	&::before,
	&::after {
		border-top: 2px dashed #8f949f;
		content: '';
		display: flex;
		position: absolute;
		top: 20px;
		width: calc( ( 100% - 420px ) / 2 );
		z-index: 0;
	}

	&::after {
		right: 0;
	}

	.coil-exclusive-content-divider-inner {
		align-items: center;
		background: #fff;
		border: 1px solid #8f949f;
		border-radius: 8px;
		display: flex;
		height: 42px;
		justify-content: space-between;
		margin: auto;
		max-width: 400px;
		padding: 0 8px;
		text-align: center;
		width: 100%;
		z-index: 1;

		p {
			font-size: 14px !important;
			font-weight: 500 !important;
			margin: 0;
		}
	}
}

.coil-post-monetization-level {

	&.default,
	&.not-monetized {
		display: none;
	}

	p {

		&.coil-hint {
			display: none;
		}
	}

	&.exclusive-content-off.exclusive {

		input {
			border-color: #666;

			&:checked {
				background-color: #666;
			}
		}

		label {
			color: #666;
		}

		p {

			&.coil-hint {
				color: #666;
				display: inline-block;
				font-size: 13px;
				margin-top: 5px;
			}
		}
	}
}
