// Monetization not initialized.
body.monetization-not-initialized:not(.coil-no-gating) {

	figure.coil-show-monetize-users img,
	figure.coil-show-monetize-users div.wp-block-embed__wrapper,
	img.coil-show-monetize-users {
		-webkit-filter: blur(10px) grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
		-moz-filter: blur(10px) greyscale(1); /* Firefox */
		-o-filter: blur(10px) greyscale(1); /* Opera */
		-ms-filter: blur(10px) greyscale(1); /* MS */
		filter: blur(10px) grayscale(1); /* Microsoft Edge and Firefox 35+ */
	}

	*.coil-show-monetize-users {
		position: relative;
		display: block;

		&::before {
			content: " ";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
		}

		&::after {
			content: " ";
			position: absolute;
			width: inherit;
			height: inherit;
			color: #000;
			background: #fff;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			white-space: nowrap;
			text-transform: uppercase;
			cursor: pointer;
			z-index: 100;
			opacity: 0.8;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

// Monetization initialized.
body.monetization-initialized:not(.coil-no-gating) {

	*.coil-hide-monetize-users {
		display: none;
	}

}

// Coil Browser Extension not found or...
// Coil Payment Pointer ID not found.
// Only content that is set to show for all will show.
body.coil-extension-not-found:not(.coil-no-gating),
body.coil-missing-id:not(.coil-no-gating) {

	*.coil-hide-monetize-users {
		display: none;
	}

	*.coil-show-monetize-users {
		position: relative;
		&::after {
			content: ' ';
			position: absolute;
			width: inherit;
			height: inherit;
			font-family: 'Open Sans';
			font-size: 18px;
			line-height: 27px;
			color: white;
			background: #575756;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			white-space: nowrap;
			z-index: 100;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: scroll;
		}
	}

}
